.bg-img {
    background-image: url('/assets/6.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }